body, html {
    height: 100%;
    margin: 0;
}

/* LS: Reiktų optimizuoti besikartojančius, dėl laiko trūkumo nespėjau */
/* LS: Reiktų peržiūrėti visur responsive */
/* LS: MENIU BEGINS */
/* LS: skirtingų panašių atspalvių įvairovę sumažinti */

.meniu ul {
    font-family: 'Roboto', sans-serif; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D0D7EA;
}

.meniu li {
    float: left;
}

.meniu li a.logo {
    padding: 10px;
    height: 70px;    
}

.meniu li a {
    display: inline-block;
    color: #3E69B0;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    vertical-align: bottom;
    line-height: 30px;
}

.meniu li a:hover {
    background-color: #172234;
}

.meniu a:link { 
    font-family: 'Roboto', sans-serif; 
    color: #3E69B0;
    text-decoration: none;  
    font-size: 22px;
}

.meniu a:visited {
    color: #3E69B0;
    text-decoration: none;
}

.meniu a:hover { 
    color: white;  
}

.meniu a:active {
    color: white;    
}

/* LS: MENIU ENDS */
/* LS: PARALLAX IMG BEGINS */

.intro {
    background-image: url('../images/stairway-pixabay.jpg');
    width: auto;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.parallax1 {
    background-image: url('../images/chair-series-pixabay.jpg');
    width: auto;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.parallax2 {
    background-image: url('../images/classroom-pixabay.jpg');
    width: auto;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
} /* LS: kad color pakaitalioti būtų galima  */

.parallax3 {
    background-image: url('../images/swimmer-pixabay.jpg');
    width: auto;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.parallax4 {
    background-image: url('../images/sparkler-pixabay.jpg');
    width: auto;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

@media only screen and (max-device-width: 1366px) {
.intro .parallax1 .parallax2 .parallax3 .parallax4 {
    background-attachment: scroll;
  }
}

.middle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #172234;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
.middle1 h2 {
    color: #D5DAED;
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-style: italic;
} /* LS: kad color pakaitalioti būtų galima  */

.middle1 p {
    color: #D5DAED;
    font-size: 22px;
    text-align: right;
    margin: 0;
}

.middle2 h2 {
    font-family: 'Roboto', sans-serif;
    color: #D5DAED;
    font-style: italic;
    font-size: 33px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #172234;
    display: inline;
    padding: 30px;
    margin: 0;
}

.middle p {
    font-family: 'Roboto', sans-serif;
    color: #D5DAED;
    font-style: italic;
    font-size: 18px;
    padding: 30px;
    margin: 0;
}

/* LS: PARALLAX IMG ENDS */
/* LS: BODY TEXT BEGINS */

h1 {
    color: #172234;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align: left;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 28px;
    color: #172234;
    font-family: 'Roboto', sans-serif;
    text-align: left;  
    margin: 0px;
}

p {
    font-size: 20px;
    color: #4286f4;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

span {
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    
}

/* LS: BODY TEXT ENDS */
/* LS: SITES BEGINS */

#price, #programme, #contacts {
    background-image: url('../images/swimmer-pixabay.jpg');
    padding: 20px 20px 104px;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
}

#team {
    background-image: url('../images/sparkler-pixabay.jpg');
    padding: 20px 20px 104px;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
   }

/* LS: SITES ENDS */
/* LS: COLUMS PRICE BEGINS */

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 10px;
}

.prices, .programme, .team .contact {
  list-style-type: none;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prices:hover, .programme:hover, .contact:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2)
}

.prices .columns-header, .programme .columns-header  {
  background-color: #172E5B;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.programme .columns-header-dark {
  background-color: #172E5B;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.programme .columns-header-yellow {
  background-color: yellowgreen;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.programme .columns-header-green {
  background-color: green;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.programme li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.programme .columns-blue {
  background-color: #D0D7EA;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.programme .columns-grey {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.programme li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.prices li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.prices .columns-blue {
  background-color: #D0D7EA;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.prices .columns-grey {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
/* LS: COLUMS PRICE ENDS */
/* LS: COLUMS TEAM BEGINS */

.columns-team {
  float: left;
  width: 33.3%;
  padding: 10px;
}

.team {
  list-style-type: none;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#team ul {
    margin: 0px;
    list-style-type: none;
    padding: 10px 0px 0px 10px;
}

.team li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.team:hover {
  box-shadow: 0 7px 12px 0 rgba(0,0,0,0.2)
}

@media only screen and (max-width: 600px) {
  .team {
    width: 100%;
  }
}
}
/* LS: COLUMS TEAM ENDS */
/* LS: COLUMS CONTACTS BEGINS */

.columns-contacts{
  float: left;
  width: 50%;
  padding: 10px;
}

.contacts {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts :hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2)
}

.contacts .columns-header {
  background-color: #172E5B;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.contacts li {
  border-bottom: 1px solid #eee;
  padding: 15px;
  text-align: center;
}

.contacts .columns-blue {
  background-color: #D0D7EA;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.contacts .columns-grey {
  background-color: lightslategrey;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.contacts input {
    height: 30px;
    width: 100%;
    padding: 5px;
}

#message textarea {
    width: 100%;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

.button, .send {
  background-color: brown;
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .contacts {
    width: 100%;
  }
} /*reiktų visur peržiūrėti responsive */

/* LS: COLUMS CONTACTS  ENDS */
/* LS: FOOTER BEGINS */

.footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D0D7EA;
    color: #3E69B0;
    text-align: center;
}

.footer p {
    font-size: 16px;
    color: #172234;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
}

.footer a:link { 
    font-family: 'Roboto', sans-serif; 
    color: #172234;
    text-decoration: none;  
    font-size: 16px;
}

.footer a:visited {
    color: #172234;
    text-decoration: none;
}

.footer a:hover { 
    color: #3E69B0;
    text-decoration: underline;
}

.footer a:active {
    color: #172234;
    text-decoration: underline;
}

.space {
		padding: 0.5rem;
	} /* footer social icon atskirti */

/* LS: FOOTER ENDS */


